/Logs
/Temp
/.vs
/Library
/obj
/Unity.AssetBundleBrowser.Editor.Tests.csproj
/Unity.AssetBundleBrowser.Editor.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assets/Scripts/luasrc/.idea
/Assets/Scripts/luasrc/lualib
/Assets/Scripts/.idea
